div.body{
    margin-top: 0.5%;
}
#leftColumn{
    float: left;
    width: 30%;
    margin-left: 1%;
}

#centerColumn{
    display: inline-block;
    width: 30%;
    margin-left: 4%;
}

#rightColumn{
    float: right;
    width: 30%;
    margin-right: 1%;
}
.post{
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, 0.8);
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
}
img{
    width: 100%;
}