#login,#register{
    text-align: left;
    font-family: Arial, sans-serif;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, 0.8);
    box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
}

#login a,#register a {
    color: rgb(95, 155, 198);
    text-decoration: underline;
}

#login h1,#register h1{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

#login #username, #login #password, #register #username, #register #useremail, #register #password, #register #passwordsignup_confirm{
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 10px;
    border: 1px solid rgb(178, 178, 178);
}
